/*
*	Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

html {
    height: 100%;
}

body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.navigation, .site-footer {
    @include flex(none);
}

main, .page {

    padding-top: $header-height-small;

    @include media ($tiny) {
        padding-top: $header-height-mobile;
    }
    @include media ($tablet) {
        padding-top: $header-height;
    }
    display: block;
    @include flex(1 0 auto); // flex column
}


ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

figure {
    margin: 5px;
}
figcaption {

}
code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px;
}

/* SVG icons */
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
a:hover .icon { /* hover colour */
    fill: #2eb6cd;
}
.icon--readmore {
    fill: $white;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--post {
    fill: $action-color;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon-facebook_sign { fill: $facebook; }
.icon-twitter_sign { fill: $twitter; }
.icon-youtube { fill: $youtube; }
.icon-soundcloud { fill: $soundcloud; }
.icon-vimeo_square { fill: $vimeo; }

blockquote {
  color: darken($action-color,20%);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
cite {
    display: block;
    text-align: right;
}
blockquote:before {
  color: $action-color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
h1 {
  @include media ($mobile) {
    line-height: $heading-line-height;
  }
}
// Buttons

.readmore,
.prev, .next {
    @extend button;
    @include bbb-flat-style(darken($action-color, 20%), $white);
    &:hover:not(:disabled) {
        color: $white;
        background: darken($action-color, 40%);
        @include transition (background 0.2s ease-in-out);
        text-decoration: none;

  }
}
.next {
    float: right;
}


/*
*	Navigation
*/
.navigation {

    padding: 0 1em;

    @include media($tiny) {
        height: $header-height-mobile;
    }

    @include media ($tablet) {
        padding: 0;
        height: $header-height;
    }
    margin: 0;
    z-index: 100;
    position: fixed; // sticky header
    width: 100%;
    background-color: $black;

}
/*
*   Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
*/

// Nav menu
//
.navigation-wrapper {
    @include outer-container; // constrain width
    @include clearfix;
    position: relative;
}

// logo
.logo {
    //float: left;
    //width: 90%;

    line-height: 2em;
    padding-top: 1em;

    @include media($mobile) {
        width: initial;
    }
    @include media ($tablet) {
        @include span-columns(6);
        padding-left: $em-base;
    }
    img {
        max-height: 2.75em;
        margin-top: 0.25em;
        padding-right: 1em;
    }
    .title {
        margin-right: 10px;
        font-size: modular-scale(3);
    }
    .subtitle {
        line-height: 1em;
        display: inline-block;
        text-transform: uppercase;
        font-size: modular-scale(5);
        @include media ($mobile) {
            margin-left: 10px;
            display: inline;
        }
    }
    &:hover {
        text-decoration: none;
    }
    .icon {
        fill: $blue;
    }
}


// nav menus
//
nav {
    //float: none;
    padding-top: 1em;
    @include media ($tablet) {
        //float: right;
        @include span-columns(6);
        line-height: 1.5em;
    }
}

ul.navigation-menu {
    //display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($tablet) {
        display: block;
        margin: 0;
        padding: 0;
    }
}
// Nav items
li.nav-link {
    //display: block;
    //width: 100%;
    font-weight: bold;
    padding: 0.25em 0;
    background: transparent;
    display: inline;
    text-decoration: none;
    width: auto;
    @include media ($tablet) {

    }
    > a {
        padding: 0.5em 1em 0.5em 0;
        display: inline-block;
        @include media ($tablet) {
            padding-right: 1.5em;
        }
        &:hover, &:focus {
            text-decoration: none;
            color: $white;
        }
    }
    &:last-child a {
        //@include media ($tablet) {
            //padding-right: 1em;
        //}
    }
}
li.active {
    a {
        text-decoration: none;
        color: $white;
    }
}


li.more {
    overflow: auto;
    padding-right: 1em;

    a {
      //padding-right: 0.8em;
    }

    > a {
        //padding-right: 1.6em;
        position: relative;
        transition: all 0.2s ease-in-out;
        //background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xMzk1IDczNnEwIDEzLTEwIDIzbC00NjYgNDY2cS0xMCAxMC0yMyAxMHQtMjMtMTBsLTQ2Ni00NjZxLTEwLTEwLTEwLTIzdDEwLTIzbDUwLTUwcTEwLTEwIDIzLTEwdDIzIDEwbDM5MyAzOTMgMzkzLTM5M3ExMC0xMCAyMy0xMHQyMyAxMGw1MCA1MHExMCAxMCAxMCAyM3oiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
        @include media ($tablet) {
            //margin-right: $navigation-submenu-padding;
        }

        &::after {
            content: "›";
            font-size: 1.2em;
            position: absolute;

            width: 20px;
            height: 20px;
            right: -1em;
            /* font-family: "helvetica, arial, sans-serif";
            content: "\25BE";
            */
            @include media ($tablet) {
                right: 0;
            }
        }
    }
    /*
     > a::after {
      @include position(absolute, auto 0em auto auto);
      font-family: "helvetica, arial, sans-serif";
      content: "\25BE";
    }
    */

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }

    @include media ($tablet) {
      //padding-right: 0.8em;
      position: relative;
    }
}   // end li.more

ul.submenu {
    padding-left: 0;
    @include outer-container;
    @include media ($tablet) {
        .column {
            @include span-columns(6);
        }
    }
    @include media ($tablet) {
      left: -9em;
      position: absolute;
      top: 1.4em;
    }
    .submenu {
        @include media ($tablet) {
            left: $navigation-submenu-width - 0.2em;
            top: 0;
        }
    }
    li {
        display: block;
        padding-right: 0;
        &:last-child > a {
            padding-bottom: 0.7em;
        }

        a {
            background-color: $navigation-background;
            display: inline-block;
            width: 100%;
            padding: 0.2em;
            transition: all 0.2s ease-in-out;
            text-decoration: none;
            @include media ($tablet) {
              padding-left: 1em;
              text-align: left;
              width: $navigation-submenu-width;
            }
            &:hover,
            &:active,
            &:focus {
                transition: all 0.2s ease-in-out;
                background-color: $white;
                text-decoration: none;
            }
        }
    }
}

.menu__container {
    display: inline-block;
}

.menuclick {
  display: none;
  position: relative;
  transition: all 0.2s ease-in-out;

  .menu__container.is-active &,
  .menu__container.is-hovered & {
    display: block;
    @include media ($tablet) {
        display: inline-block;
    }
  }

}

.menu__button {
  font-weight: 700;
  &:hover {
    opacity: 0.8;
  }
  .menu__container.is-active & {
    //color: #333;
  }
}

/*
*	Body
*/
.content-header {
    @include outer-container;
    padding: 0 1em 1em 1em;
}

.content {
    @include outer-container;
    padding: 0 1em 1em 1em;
}

/*
*	index.html
*/


img {
    max-width: 100%;
}

/* Lightbox font size fix */
.lb-data .lb-number {
    font-size: inherit;
}


/*
 * Headers
 */


.page-title {
    padding-top: 1em;
    h1, p {
        /*padding: 0 0 0 $em-base;*/
        margin-bottom: 0;
    }
    h1 {

    }
    p {

    }
}

.reverse-bg {
    background-color: $black;
    color: $white;
    blockquote {
        color: $action-color;
    }
}
/*
 * components on home page
 */
.top {
    h2, h3 {
        color: $action-color;
    }
    margin-bottom: 2rem;
}
.wrapper {
    @include outer-container;
    padding: 1em;

}
.photo {
    .rayphoto {
        @include span-columns(2);
        @include media ($mobile) {
            @include span-columns(4);
        }
        @include media ($tablet) {
            @include span-columns(2 of 8);
        }
    }
    .text {
        @include span-columns(10);
        @include omega();
        @include media ($mobile) {
            @include span-columns(8);

        }
        @include media ($tablet) {
            @include span-columns(6 of 8);
        }
    }

    @include media ($mobile) {
        @include span-columns(8);
    }

}
.latest {
    @include media ($mobile) {
        @include span-columns(4);
        @include omega();
    }

}


section footer {
    padding: 1em 0;
    clear: both;
}

/*
*	Footer
*/
.site-footer {
    //$link-color: $white;
    padding: 1em 1em 2em 1em;
    background-color: $white;
    border-top: 1px #000 solid;
    a {
        color: $black;
        transition: all 0.25s ease-in-out;
        &:hover, &:focus {
            color: $action-color;
        }
    }

    h3 {
        font-size: 18px;
    }
}
.footer-wrapper {
    @include media ($tablet) {
        @include outer-container;
    }
}
.widget {
    border-top: 1px solid $action-color;
    padding-top: 1em;
    @include media ($tablet) {
        border-top: none;
        padding-top: 0;
    }

}
/*
*   Site Contact (left)
*/
.site-contact {
    @include span-columns(12);
    li {
        float: left;
        padding-right: 0.5em;
    }
    @include media ($tablet) {
        @include span-columns(4);
    }
    font-size: 0.9em;
    ul {
        @extend %default-ul;
    }
}
/*
*   Newsletter (center)
*/
.site-newsletter {
    margin-top: 1em;
    @include span-columns(12);

    @include media ($tablet) {
        @include span-columns(4);
        margin-top: 0;
    }
    font-size: 0.9em;
    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul;
    }
}

/*
*   Site Partners (right)
*/
.site-partners {
    margin-top: 1em;
    @include span-columns(12);
    @include media ($tablet) {
        border-top: none;
        padding-top: 0;
        @include span-columns(4);
        margin-right: 0;
        margin-top: 0;
    }
    img {
        max-width: 300px;
    }
}
