/*
*	Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

html {
    height: 100%;
}

body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.navigation, .site-footer {
    @include flex(none);
}

main, .page {

    padding-top: $header-height;

    @include media ($mobile) {
        padding-top: $header-height-mobile;
    }
    @include media ($tablet) {
        padding-top: $header-height-tablet;
    }
    display: block;
    @include flex(1 0 auto); // flex column
}


ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

figure {
    margin: 5px;

}


code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px;
}

/* SVG icons */
.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}
a:hover .icon { /* hover colour */
    fill: #2eb6cd;
}
.icon--readmore {
    fill: $white;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--post {
    fill: $action-color;
    margin-bottom: -5px;
    width: 20px;
    height: 20px;
}
.icon--inactive {
    fill: $medium-gray;
}
.icon--logo {
    fill: $blue;
    width: 20px;
    height: 20px;
}
.icon-facebook_sign { fill: $facebook; }
.icon-twitter_sign { fill: $twitter; }
.icon-youtube { fill: $youtube; }
.icon-soundcloud { fill: $soundcloud; }
.icon-vimeo_square { fill: $vimeo; }

blockquote {
  color: darken($action-color,20%);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
cite {
    display: block;
    text-align: right;
}
blockquote:before {
  color: $action-color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
h1 {
  @include media ($mobile) {
    line-height: $heading-line-height;
  }
}
// Buttons

.readmore,
.prev, .next {
    @extend button;
    color: $white;
    @include bbb-flat-style(darken($action-color, 20%), $white);
    &:hover:not(:disabled) {
        color: $white;
        background: darken($action-color, 40%);
        @include transition (background 0.2s ease-in-out);
        text-decoration: none;
  }

}

.next {
    float: right;
}


/*
*	Body
*/
.content-header {
    @include outer-container;
    padding: 0 1em 1em 1em;
}

.content {
    @include outer-container;
    padding: 0 1em 1em 1em;
}

/*
*	index.html
*/


img {
    max-width: 100%;
}

/* Lightbox font size fix */
.lb-data .lb-number {
    font-size: inherit;
}


/*
 * Headers
 */


.page-title {
    padding-top: 1em;
    h1, p {
        /*padding: 0 0 0 $em-base;*/
        margin-bottom: 0;
    }

}

.reverse-bg {
    background-color: $black;
    color: $white;
    blockquote {
        color: $action-color;
    }
    a {
        color: $action-color;
    }
    a.readmore {
        color: $white;
    }
}
/*
 * components on home page
 */
.top {
    h2, h3 {
        color: $action-color;
    }
    margin-bottom: 2rem;
}
.wrapper {
    @include outer-container;
    padding: 1em;

}
.photo {
    .rayphoto {
        float: none;
        @include media ($mobile) {

            @include span-columns(4);
        }
        @include media ($tablet) {
            @include span-columns(2 of 8);
        }
    }
    .text {
        @include span-columns(10);
        @include omega();
        @include media ($mobile) {
            @include span-columns(8);

        }
        @include media ($tablet) {
            @include span-columns(6 of 8);
        }
    }

    @include media ($mobile) {
        @include span-columns(8);
    }

}
.latest {
    @include media ($mobile) {
        @include span-columns(4);
        @include omega();
    }

}


section footer,
section header {
    padding: 1em;
    clear: both;
}

/* INFO page elements */

.figure__download {
    text-align: center;
    padding: 1em;
    border: 1px solid lighten($action-color, 20%);
}


/*
*	Footer
*/
.site-footer {
    //$link-color: $white;
    padding: 1em 1em 2em 1em;
    background-color: $white;
    border-top: 1px #000 solid;
    a {
        color: $black;
        transition: all 0.25s ease-in-out;
        &:hover, &:focus {
            color: $action-color;
        }
    }

    h3 {
        font-size: 18px;
    }
}
.footer-wrapper {
    @include media ($tablet) {
        @include outer-container;
    }
}
.widget {
    border-top: 1px solid $action-color;
    padding-top: 1em;
    @include media ($tablet) {
        border-top: none;
        padding-top: 0;
    }

}
/*
*   Site Contact (left)
*/
.site-contact {
    @include span-columns(12);
    li {
        float: left;
        padding-right: 0.5em;
    }
    @include media ($tablet) {
        @include span-columns(4);
    }
    font-size: 0.9em;
    ul {
        @extend %default-ul;
    }
}
/*
*   Newsletter (center)
*/
.site-newsletter {
    margin-top: 1em;
    @include span-columns(12);

    @include media ($tablet) {
        @include span-columns(4);
        margin-top: 0;
    }
    font-size: 0.9em;
    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul;
    }
}

/*
*   Site Partners (right)
*/
.site-partners {
    margin-top: 1em;
    @include span-columns(12);
    @include media ($tablet) {
        border-top: none;
        padding-top: 0;
        @include span-columns(4);
        margin-right: 0;
        margin-top: 0;
    }
    img {
        max-width: 300px;
    }
}
