
/*
*	Globals
*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* sticky footer from https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */

html {
    height: 100%;
}

body {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
}

.navigation, .site-footer {
    @include flex(none);
}


main, .page {
    padding-top: $header-height;
    display: block;
    @include flex(1 0 auto);
}


ol.default {
    @extend %default-ol;
}

ul.default {
    @extend %default-ul;
}

code {
    background-color: #eee;
    display: inline-block;
    border-radius: 3px;
    padding: 0 3px;
}


blockquote {
  color: $action-color;
  border-left: 10px solid shade($action-color,80%);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
cite {
    text-align: right;
}
blockquote:before {
  color: $action-color;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
// Buttons

.button {
    //@extend button;
    //@include bbb-flat-style($action-color, $white);
    &:hover:not(:disabled) {
        color: $white;
        background: darken($action-color, 20%);
        text-decoration: none;
  }
}

/*
*	Navigation
*/
.navigation {
    padding: 0 1em;
    @include media ($tablet) {
        padding: 0;
    }
    margin: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: $black;
    /*
    *	Navigation Menu - http://refills.bourbon.io/unstyled/ (see "Navigation")
    */
    // Mobile view
    .navigation-menu-button {
        display: block;
        float: right;
        margin: 0;
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-right: 0.5em;
        @include media ($tablet) {
            display: none;
        }
    }
    // Nav menu
    .navigation-wrapper {
        @include outer-container;
        @include clearfix;
        position: relative;
    }
    .logo {
        padding-top: 1em;
        float: left;
        height: $header-height;
        @include media ($tablet) {
            padding-left: $em-base;
        }
        img {
            max-height: 2.75em;
            margin-top: 0.25em;
            padding-right: 1em;
        }
        span {
            font-size: modular-scale(3);
        }
        &:hover {
            text-decoration: none;
        }
    }
    .title {

    }
    .subtitle {
        text-transform: uppercase;
    }
    nav {
        float: none;
        padding-top: 1em;
        @include media ($tablet) {
            float: right;
            line-height: 1.5em;
        }
    }
    ul.navigation-menu {
        clear: both;
        display: none;
        margin: 0 auto;
        overflow: visible;
        padding: 0;
        width: 100%;
        @include media ($tablet) {
            display: block;
            margin: 0;
            padding: 0;
        }
        &.show {
            display: block;
        }
    }
    // Nav items
    ul li.nav-link {
        display: block;
        text-align: right;
        width: 100%;
        padding: 0.25em 0;
        @include media ($tablet) {
            background: transparent;
            display: inline;
            text-decoration: none;
            width: auto;
        }
    }
    li.nav-link {
        a {
            display: inline-block;
            @include media ($tablet) {
                padding-right: 1.5em;
            }
        }
        &:last-child a {
            @include media ($tablet) {
                padding-right: 1em;
            }
        }
    }
}

/*
*	Body
*/
#content-header {
    @include outer-container;
}

#content {
    @include outer-container;
    padding: 0 1em 1em 1em;
}

/*
*	index.html
*/


img {
    max-width: 100%;
}

/* Lightbox font size fix */
.lb-data .lb-number {
    font-size: inherit;
}


/*
 * Headers
 */

#content-header {
    padding: 0;
}

#page-title {
    padding-top: 1em;
    h1, p {
        padding: 0 0 0 $em-base;
        margin-bottom: 0;
    }
    h1 {

    }
    p {

    }
}

.reverse-bg {
    background-color: $black;
    color: $white;
    blockquote {
        border-left: 10px solid shade($action-color,80%);
    }
}
/*
 * components on home page
 */
.top {
    h2, h3 {
        color: $action-color;
    }
    margin-bottom: 2rem;
}
.wrapper {
    @include outer-container;
    padding: 1em;

}
.photo {
    .rayphoto {
        @include span-columns(4);
    }
    .text {
        @include span-columns(8);
        @include omega();
    }
    @include media ($mobile) {
        @include span-columns(8);
        .rayphoto {
            @include span-columns(2 of 8);
        }
        .text {
            @include span-columns(6 of 8);
            @include omega();
        }
    }
}
.latest {
    @include media ($mobile) {
        @include span-columns(4);
        @include omega();
    }

}




/*
*	Footer
*/
.site-footer {
    //$link-color: $white;
    padding: 1em 1em 2em 1em;
    background-color: $white;
    a {
        color: $black;
    }
    .wrapper {
        border-top: 1px #000 solid;
        @include outer-container;
    }
    .footer-heading {

    }
}

.widget {
    border-top: 1px solid $action-color;
    padding-top: 1em;
    @include media ($tablet) {
        border-top: none;
        padding-top: 0;
    }
}
/*
*   Site Contact (left)
*/
.site-contact {
    @include span-columns(12);

    li {
        float: left;
        padding-right: 0.5em;
    }
    @include media ($tablet) {
        @include span-columns(4);
    }
    font-size: 0.9em;
    ul {
        @extend %default-ul;
    }
}
/*
*   Newsletter (center)
*/
.site-newsletter {
    margin-top: 1em;
    @include span-columns(12);

    @include media ($tablet) {
        @include span-columns(4);
        margin-top: 0;
    }
    font-size: 0.9em;
    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul;
    }
}

/*
*   Site Partners (right)
*/
.site-partners {
    margin-top: 1em;
    @include span-columns(12);
    @include media ($tablet) {
        border-top: none;
        padding-top: 0;
        @include span-columns(4);
        margin-right: 0;
        margin-top: 0;
    }
    img {
        max-width: 300px;
    }
}
/*
*	Posts
*/
.post {
    ul {
        margin-bottom: 1em;
    }
    .post-header-container {
        .scrim {
            padding: 2em 1em 1em 1em;
        }
    }
    .post-meta {
        padding-bottom: 1em;
    }
    .post-content {
        padding: 1em 0;
    }
    .tags {
        font-size: 0.9em;
    }
    .rss {
        margin: 1em 0 0 0;
        @include span-columns(12);
        @include media ($tablet) {
            margin: 1em 0;
            @include span-columns(6);
        }
    }
    .share {
        font-weight: bold;
        margin: 0 0 1em 0;
        @include span-columns(12);
        @include media ($tablet) {
            @include span-columns(6);
            margin: 1em 0;
            text-align: right;
        }
        a {
            width: 1em;
            padding: 0 0.25em;
            text-decoration: none;
        }
    }
    .post-navigation {
        font-size: 0.9em;
        display: block;
        width: auto;
        .prev-post {
            display: block;
            width: 50%;
            float: left;
            margin: 1em 0;
        }
        .next-post {
            display: block;
            width: 50%;
            float: left;
            margin: 1em 0;
            text-align: right;
        }
    }
}
