
/*
 * Projects page and listings
 */
// body class
.projects {

}

.project-list {
    @include outer-container;
    padding: 0 0.5em;
}

.date {
    font-size: 0.8em;
    color: $blue;
}

.project {

    @include media($mobile) {
        @include span-columns(4);
    }

    position: relative;
    margin-bottom: 1em;
    overflow: hidden;

    //@include padding(null 0.5em);


    .title {
        display: block;
        @include position(absolute, null 0 8px 0);
        z-index: 20;

        background-color: rgba($action-color,.8);
        width: 100%;
        padding: 0.1rem 0;

        text-align: center;
        a:hover, a:focus {
            text-decoration: none;
        }
    }
    .subtitle {
        text-transform: uppercase;
    }
    h3 {
        font-weight: normal;
        margin-bottom: 0;
        color: $white;
        @include media($mobile) {
            line-height: normal;
        }
        @include media($tablet) {
            line-height: 1.8em;
        }
    }
    .caption {
        display: block;
        //@include ellipsis;
        @include position(absolute, 0 0 8px 0);
        opacity: 0;
        cursor: pointer;
        transition: all 0.45s ease-in-out;
    }
    .blur {
        display: block;
        background-color: $action-color;
        height: 100%;
        width: 100%;
        z-index: 5;
        position: absolute;
    }
    .caption-text {
        display: block;
        line-height: 1.2em;
        font-size: 1.4em;
        z-index: 10;
        width: 90%;
        height: 100%;
        text-align: center;
        @include position(absolute, 10px 0 0 5%);
        @include media($mobile) {
            font-size: 1.1em;
            top: 10px;
        }
        @include media($tablet) {
            top: 30px;
            font-size: 1.2em;
        }
        a {
            color: $white;
            &:hover,&:focus {
                text-decoration: none;
            }
        }
    }

    .project-date {
        font-family: $heading-font-family;
        font-size: smaller;
    }

    .project-image {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

}

@include media($tablet) {
    .project:hover .caption {
        opacity: 1;
    }
}

.last {
    @include omega();
}

/*
 * Individual project pages
 */
.projects {
    h2 {
        font-weight: normal;
        margin-bottom: 0;
        border-bottom: 1px solid $blue;
        line-height: normal;
    }
    iframe {
        max-width: 100%;
    }

    @include media($tablet) {
        #content {
            @include clearfix;
        }
    }
}
// reduce specificity here
.media {
    .image-gallery {
        img {
            float: left;
            margin: 5px;
            transition: box-shadow 0.5s ease;
        }
        a:hover img, a:focus img {

        }
    }
}
@include media($tablet) {
    .with-media {
        box-sizing: border-box;
        width: 50%;
        float: left;
        padding-right: 20px;
    }

    .media {
        box-sizing: border-box;
        width: 50%;
        float: right;
    }

}
/*
 * Lightbox
 */

.lb-dataContainer {
    background: $black;
    padding: 1em
}
.lb-data {
    .lb-number {
        color: $action-color;
    }
    .lb-close {
        background: url('/assets/close.png') top right no-repeat;
    }
}

.lb-nav {
    a.lb-next {
        background: url('/assets/next.png') right 48% no-repeat;
    }
    a.lb-prev {
        background: url('/assets/prev.png') left 48% no-repeat;
    }
}


