
/*
 * Projects page and listings
 */
.project-list {
    @include outer-container;
}
.project {
    @include media($mobile) {
        @include span-columns(4);
    }
    margin-bottom: 1em;
    a {
        display: block;
        @include clearfix;
        padding: 1em 0;
        transition: background-color 0.5s ease;
        color: $base-font-color;
        &:hover, &:focus {
            color: $base-font-color;
            text-decoration: none;
        }
    }
    h3 {
        margin-bottom: 0;
    }
    .project-date {
        font-family: $heading-font-family;
        text-transform: uppercase;
        color: $medium-gray;
    }
    .project-image {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    .project-description {
    }
    @include media($mobile) {
        .project-image {
            line-height: 200px;
        }

        img {
            margin: 0;
            display: inline;
            vertical-align: middle;
        }

        h3 {

        }
        .project-date {

        }
        .project-description {
            padding-left: 0;
            font-size: 1.2em;
            box-sizing: border-box;
        }
    }
}

.last {
    @include omega();
}
/*
 * Individual project pages
 */
.projects {
    iframe {
        max-width: 100%;
    }
    .media {
        .image-gallery {
            img {
                border-radius: 5px;
                box-shadow: 5px 5px 5px $light-gray;
                float: left;
                margin: 5px;
                transition: box-shadow 0.5s ease;
            }
            a:hover img, a:focus img {
                box-shadow: 5px 5px 5px $highlight-color;
            }
        }
    }
    @include media($tablet) {
        #content {
            @include clearfix;
        }

        .with-media {
            box-sizing: border-box;
            width: 50%;
            float: left;
            padding-right: 20px;
        }

        .media {
            box-sizing: border-box;
            width: 50%;
            float: right;
        }

    }
}



