---
layout: default
---

{% assign with_media = false %}
{% if page.images[0].image_path %}
  {% assign with_media = true %}
{% endif %}


<header class="content-header">
  <section class="page-title">
    <h1>{{ page.title }}</h1>
  </section>
</header>

<article class="content">
  <section class="main-content editable {% if with_media %}with-media{% endif %}" data-cms-content-wrapper="/_layouts/info.html">
    <p>For information on booking one of Ray Lee&rsquo;s projects please email <a href="mailto:raylee.info@gmail.com?subject=touring%20specifications%20info%20packs">r</a><a href="__notset__">ay@invisible-forces.com</a>.</p>
    <p>For high resolution images click on the images on this page (images will open in a new window, right click for download options). Alternatively, please contact Ray if there is a specific image from the website that you require in high resolution.</p>
    <p>&nbsp;</p>
  </section>

{% if with_media %}
  <aside class="media">

    {% if page.images %}

      {% if page.images[0].image_path %}
      <section>

        {% for image in page.images %}

          {% if image.image_path %}
          <figure class="figure__download">

            <a href="{{ image.image_path }}">
             {% include img.html src=image.image_path width=240 height=120 alt=image.description %}
            </a>
            <figcaption class="figcaption__download">
              <p>{{ image.description }}</p>
                <p><a href="{{ image.image_path }}" class="readmore">
                  <svg class="icon icon--readmore"><use xlink:href="#icon-download_alt" /></svg> Download
                </a></p>
            </figcaption>

          </figure>

          {% endif %}

        {% endfor %}
      </section>
      {% endif %}

    {% endif %}
  </aside>
{% endif %}

</article>