// Google Fonts
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

// Typography
$base-font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// Font Sizes
$base-font-size: $em-base; // 16px

// Adjust modular scale ratio
$modular-scale-ratio: $minor-third;

// Line height
$base-line-height: 1.8;
$heading-line-height: 1.8;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * $em-base;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$blue: #31C6E0;
$background-grey: #373535;
$white: #fff;
$black: #111111;

// Font Colors
$header-color: #00798E;
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;
$highlight-color: tint($action-color, 33%);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Screen sizes
$mobile: 640px;
$tablet: 960px;

$max-width: rem(1200);
$medium-screen: $mobile;
$large-screen: $tablet;

// header height
$header-height: 4em;
$header-height-mobile: 9em;

// navigation
$navigation-padding: 1em;
$navigation-background: $black;

$navigation-color-hover: white;
$navigation-height: 30px;

$navigation-active-link-color: transparentize($white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 15em;